*,
html {
  background-color: rgb(40, 40, 40);
}



body {
  color: rgb(190, 190, 190);
  background-color: rgb(40, 40, 40);
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height-step: 1.5;
  margin: 0px;
}

div {
  margin: auto;
  max-width: 700px;
}

#menu-div,
#input-div {
  margin-top: 30px;
}


.footer {
  min-height: 80px;
}

a {
  color: rgb(90, 161, 222);
}

p {
  margin-top: 6px;
}

span {
  margin-top: 0px;
}

span a,
.grey {
  color: rgb(190, 190, 190);
}

.right {
  float: right;
  margin-top: 5px;
}


input {
  border: solid 1px #ccc;
  background-color: #323334;
  height: 20px;
  font-size: 15px;
  color: rgb(190, 190, 190);
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  width: 500px;
}



h1 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 0px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 8px;
}

h2 a {
  color: rgb(190, 190, 190);
}

h3 {

  font-weight: 600;
  font-size: 20px;
  margin-top: 28px;
  margin-bottom: 8px;

}

h3 a {
  text-decoration: none;
}

h4 {

  font-weight: 600;
  font-size: 20px;
  margin-top: 28px;
  margin-bottom: 8px;

}

h4 a {
  text-decoration: none;
}


.subtext {
  font-size: 12px;
  font-weight: normal;
}

.collapsible {
  cursor: pointer;
  text-decoration: solid;
  margin-top: 60px;
}

.collapsible::before {
  content: "⯈ ";
}

.active::before {
  content: "⯆ ";
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ccc;
  border: 0 none;
  color: #ccc;
  height: 1px;
}

/* 
input {
  display: none;
  visibility: hidden;
}

label::after {
  margin-left: 10px;
  content: "⯅";
}

#expand {
  height: auto;
}


#toggle:checked~#expand {
  max-height: 0;
  overflow: hidden;
  transition: height 0.5s; 
  transition: max-height 0.2s ease-out;
}

#toggle:checked~label::after {
  content: "⯆";
} 
*/

::-webkit-scrollbar {
  background-color: #353637 !important;
  color: #b4b1ab;
}

::-webkit-scrollbar-corner {
  background-color: #323334 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #3f4142 !important;
}

::selection {
  background-color: #2065b9;
  color: #dfdfdf;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(190, 190, 190);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 140px;
  background-color: rgb(30, 30, 30);
  text-align: left;
  padding: 5px 24px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;

  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}